.sundae-option {
  margin-bottom: 25px;

  img {
    width: 100%;
    margin: 0 auto 15px;
    display: block;
  }
}

.scoop-option {
  img {
    max-width: 200px;
  }
}

.topping-option {
  img {
    max-width: 150px;
  }
}
